@import "../reindeer/styles.css";


#jlm {
	position: absolute;
	right: 0px;
}

#banner {
	margin-bottom: 20px;
	background:  #ffa200 url(images/bg-banner-b.gif) repeat-x 0 100%;
	height: 87px;
}

#main {
	padding: 20px;
	/*
	position: absolute;
	left: 50%;
    margin-left: -600px;
	width: 1200px;
	*/
} 

.menuItem {
	border: 0px;
	margin: 2px;
}

.v-panel-content-menuItem {
	padding:5px;
}

.v-panel-content-menuItem-selected {
	padding:5px;
	margin: 2px;
	background-color: #ffa200;
}

.menuItem-selected {
	border: 1px;
}

.menuItem-selected .v-embedded-image , .menuItem-selected .v-label {
	background-color: #ffa200;
}

.menuItem .v-caption, .menuItem-selected .v-caption {
	display: none;
}

.v-panel-content-menuItem-selected {
	background-color: #ffa200 !important;
}

.v-panel-content-menuItem-selected > div {
	background-color: #ffa200 !important;
}