<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	default-init-method="init"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:util="http://www.springframework.org/schema/util"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
		http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.0.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.0.xsd">

	<context:annotation-config/>
	
	<bean id="propertyConfigurer"
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations">
			<list>
				<value>WEB-INF/jdbc.properties</value>
			</list>
		</property>
	</bean>

	<!-- DataSource -->
	<bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
		<property name="driverClass" value="${jdbc.driverClassName}" />
		<property name="jdbcUrl" value="${jdbc.url}" />
		<property name="acquireIncrement" value="3" />
		<property name="minPoolSize" value="1" />
		<property name="maxPoolSize" value="5" />
		<property name="maxIdleTime" value="5" />
		<property name="numHelperThreads" value="1" />

		<property name="idleConnectionTestPeriod" value="10" />
		<property name="autoCommitOnClose" value="false" />
		<property name="preferredTestQuery" value="select 1" />
		<property name="testConnectionOnCheckin" value="true" />

		<property name="checkoutTimeout" value="60000" />
	</bean>
	
     <bean id="entityManagerFactory" class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
      <property name="dataSource" ref="dataSource"/>

	  <property name="jpaDialect">
        <bean class="org.springframework.orm.jpa.vendor.HibernateJpaDialect"/>
     </property>
     <property name="jpaVendorAdapter">
       <bean class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter">
         <property name="databasePlatform" value="org.hibernate.dialect.DerbyDialect"/>
       </bean>
     </property>
    </bean>


    <bean id="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager">
      <property name="entityManagerFactory" ref="entityManagerFactory"/>
      <property name="dataSource" ref="dataSource"/>
    </bean>
    
  <!-- bean post-processor for JPA annotations -->
  <bean class="org.springframework.orm.jpa.support.PersistenceAnnotationBeanPostProcessor"/>

   <!-- Simple Dao -->
   <bean id="simpleDao" class="info.joseluismartin.dao.jpa.JpaDao" />
   
   <bean id="proxyDao" class="info.joseluismartin.dao.jpa.JpaDao" >
   		<constructor-arg value="info.joseluismartin.gtc.model.ProxyConfig" />
   </bean>
  
   <bean id="daoFactory" class="info.joseluismartin.dao.jpa.JpaDaoFactory" />
    
   <!-- Persistent Services -->
   <bean id="persistentServiceFactory" class="info.joseluismartin.service.PersistentServiceFactory" />

	<!-- Simple PersistentService -->
	<bean id="persistentService" class="info.joseluismartin.logic.PersistentManager">
		<property name="dao" ref="simpleDao" />
	</bean>   
	
	<bean id="cacheService" class="info.joseluismartin.logic.PersistentManager">
		<property name="dao" ref="cacheDao" />
	</bean>
	
	<bean id="proxyService" class="info.joseluismartin.logic.PersistentManager">
		<property name="dao" ref="proxyDao" />
	</bean>
	
	<bean id="typeService" class="info.joseluismartin.logic.PersistentManager">
		<property name="dao" ref="typeDao" />
	</bean>
	
	<bean id="cacheDao" class="info.joseluismartin.dao.jpa.JpaDao">
		<constructor-arg value="info.joseluismartin.gtc.model.CacheConfig" />
	</bean>
	
	<bean id="configService" class="info.joseluismartin.logic.PersistentManager">
		<property name="dao" ref="configDao" />
	</bean>
	
	<bean id="configDao" class="info.joseluismartin.dao.jpa.JpaDao">
		<constructor-arg value="info.joseluismartin.gtc.model.ConfigProperty" />
	</bean>
	
	<bean id="typeDao" class="info.joseluismartin.dao.jpa.JpaDao">
		<constructor-arg value="info.joseluismartin.gtc.model.CacheType" />
	</bean>
		
	<!-- Caches -->
	<bean id="cacheManager" class="info.joseluismartin.gtc.CacheManager" />
	
	<bean id="googleMapsCache" class="info.joseluismartin.gtc.GoogleCache" scope="prototype" />
	
	<bean id="mapnikCache" class="info.joseluismartin.gtc.MapnikCache" scope="prototype"/>
	
	<bean id="tmsCache" class="info.joseluismartin.gtc.TmsCache" scope="prototype"/>
	
	<bean id="wmsCache" class="info.joseluismartin.gtc.WmsCache" scope="prototype" />
	
	<bean id="systemConfig" class="info.joseluismartin.gtc.model.SystemConfig" />

	<!-- UI Widgets -->
   <bean id="guiFactory" class="info.joseluismartin.gtc.admin.TilaGuiFactory" />
   
   <bean id="comboBoxFieldBuilder" class="info.joseluismartin.vaadin.ui.form.ComboBoxFieldBuilder">
  		<property name="persistentServiceFactory" ref="persistentServiceFactory"/>
   </bean>
   
   <!-- Create and configure Fields by means of JPA annotations -->
   <bean id="formFieldFactory" class="info.joseluismartin.vaadin.ui.form.AnnotationFieldFactory" >
		<property name="fieldProcessors">
			<list>
			<!-- size type combo to 150px width, is to large by default -->
				<bean class="info.joseluismartin.vaadin.ui.form.SizeFieldProcessor">
					<property name="widths">
						<map>
							<entry key="type" value="150px"/>
						</map>
					</property>
				</bean>
			</list>
		</property>
   </bean>
   
	
	<!--  Action List for table buttons -->
	<util:list id="actionList" scope="prototype">
		<bean class="info.joseluismartin.vaadin.ui.table.AddAction"  p:icon="images/table/filenew.png"
			p:description="Add new item" />
		<bean class="info.joseluismartin.vaadin.ui.table.RemoveAction" p:icon="images/table/edit-delete.png"
			p:description="Delete selected items" />
		<bean class="info.joseluismartin.vaadin.ui.table.RefreshAction" p:icon="images/table/reload.png"
			p:description="Refresh current page" />
		
	</util:list>
	
	
	<bean id="cacheTable" class="info.joseluismartin.vaadin.ui.table.ConfigurableTable"
		scope="prototype">		
		<property name="selectable" value="true" />
		<property name="multiSelect" value="false" />
		
		<property name="columns">
			<list value-type="info.joseluismartin.vaadin.ui.table.Column">
				<bean class="info.joseluismartin.vaadin.ui.table.Column">
					<property name="name" value="id" />
					<property name="displayName" value="ID" />
					<property name="align" value="c" />
					<property name="sortable" value="true" />
				</bean>
				<bean class="info.joseluismartin.vaadin.ui.table.Column">
					<property name="name" value="name" />
					<property name="displayName" value="Name" />
					<property name="align" value="b" />
					<property name="sortable" value="true" />
					<property name="width" value="150" />
				</bean>
				<bean class="info.joseluismartin.vaadin.ui.table.Column">
					<property name="name" value="path" />
					<property name="displayName" value="Path" />
					<property name="align" value="b" />
					<property name="sortable" value="true" />
					<property name="width" value="150" />
				</bean>
				<bean class="info.joseluismartin.vaadin.ui.table.Column">
					<property name="name" value="url" />
					<property name="displayName" value="Url" />
					<property name="align" value="b" />
					<property name="sortable" value="true" />
					<property name="width" value="250" />
				</bean>
				<bean class="info.joseluismartin.vaadin.ui.table.Column">
					<property name="name" value="type" />
					<property name="displayName" value="Type" />
					<property name="align" value="b" />
					<property name="sortable" value="true" />
					<property name="sortPropertyName" value="name" />
					<property name="width" value="150" />
				</bean>
				<bean class="info.joseluismartin.vaadin.ui.table.Column">
					<property name="name" value="age" />
					<property name="displayName" value="Age" />
					<property name="align" value="c" />
					<property name="sortable" value="true" />
				</bean>
				<bean class="info.joseluismartin.vaadin.ui.table.Column">
					<property name="name" value="active" />
					<property name="displayName" value="Active" />
					<property name="align" value="b" />
					<property name="sortable" value="true" />
				</bean>
			</list>
		</property>
	</bean>
	
	<bean id="pageableTable" class="info.joseluismartin.vaadin.ui.table.PageableTable">
		<property name="service" ref="cacheService" />
		<property name="table" ref="cacheTable" />
		<property name="paginator" ref="paginator" />
		<property name="actions" ref="actionList" />
		<property name="entityClass" value="info.joseluismartin.gtc.model.CacheConfig" />
		<property name="formFieldFactory" ref="formFieldFactory" />
		<property name="editor" value="cacheEditor" />
	</bean>
	
	<!-- CacheManager Aware SaveAction list -->
	<util:list id="cacheFormActions" scope="prototype">
		<bean class="info.joseluismartin.gtc.admin.CacheSaveAction"
			p:caption="Save" p:icon="images/ok.png" />
		
		<bean class="info.joseluismartin.vaadin.ui.form.CancelAction"
					p:caption="Cancel" p:icon="images/cancel.png" />
	
	</util:list>
	
	<!-- Cache Form Editor -->
	<bean id="cacheEditor" class="info.joseluismartin.vaadin.ui.form.FormEditor" scope="prototype">
		<property name="visibleItemProperties" value="#{ { 'name', 'type', 'path','url','active', 'size', 'age' } }" />
		<property name="actions" ref="cacheFormActions" />
		<property name="formFieldFactory" ref="defaultFieldFactory" />
		<property name="persistentService" ref="cacheService" />
	</bean>

	<!-- Proxy Form Editor -->
	<bean id="proxyEditor" class="info.joseluismartin.gtc.admin.ProxyForm" scope="prototype">
		<property name="proxyService" ref="proxyService" />
		<property name="formFieldFactory" ref="defaultFieldFactory" />
	</bean>
	
	<bean id="systemItem" class="com.vaadin.data.util.BeanItem">
		<constructor-arg ref="systemConfig" />
	</bean>	
	
	<!-- System Config Editor -->
	<bean id="configEditor" class="info.joseluismartin.vaadin.ui.form.FormEditor" scope="prototype">
		<property name="persistentService" ref="persistentService" />
		<property name="actions">
			<list>
				<bean class="info.joseluismartin.gtc.admin.ConfigSaveAction"
					p:caption="Save" p:icon="images/ok.png" />
			
				<bean class="info.joseluismartin.vaadin.ui.form.CancelAction"
					p:caption="Cancel" p:icon="images/cancel.png" />
			</list>
		</property>
		<property name="formFieldFactory" ref="defaultFieldFactory" />
		<property name="itemDataSource" ref="systemItem" />
	</bean>
	
	<!-- Type Editor -->
	<bean id="typeEditor" class="info.joseluismartin.vaadin.ui.form.FormEditor" scope="prototype">
		<property name="visibleItemProperties" value="#{ { 'name', 'beanName' } }" />
		<property name="actions" ref="cacheFormActions" />
		<property name="formFieldFactory" ref="defaultFieldFactory" />
	</bean>
	
	<!-- Default FormFieldFactory -->
	<bean id="defaultFieldFactory"
		class="info.joseluismartin.vaadin.ui.form.AnnotationFieldFactory">
		<property name="idClassMap">
			<map>
				<entry key="password" value="com.vaadin.ui.PasswordField" />
			</map>
		</property>
		<property name="fieldProcessors">
			<list>
				<bean class="info.joseluismartin.vaadin.ui.form.SizeFieldProcessor">
					<property name="defaultWidth" value="400px" />
					<property name="widths">
						<map>
							<entry key="type" value="150px" />
						</map>
					</property>
				</bean>
			</list>
		</property>
	</bean>
	
	<bean id="mapViewer" class="info.joseluismartin.gtc.admin.MapViewer">
		<constructor-arg value="map" />
	</bean>
	
	<!-- Paginator for Pageable Tables -->
	<bean id="paginator" class="info.joseluismartin.vaadin.ui.table.VaadinPaginator"
		scope="prototype">
		<property name="first" ref="paginatorFirstButton" />
		<property name="last" ref="paginatorLastButton" />
		<property name="next" ref="paginatorNextButton" />
		<property name="previous" ref="paginatorPreviousButton" />
		<property name="pageSizes" value="10,20,30,40,50,100,200,All" />
	</bean>

	<bean id="paginatorFirstButton" class="com.vaadin.ui.Button" scope="prototype">
		<property name="icon" value="images/table/go-first.png" />
	</bean>

	<bean id="paginatorLastButton" class="com.vaadin.ui.Button" scope="prototype">
		<property name="icon" value="images/table/go-last.png" />
	</bean>

	<bean id="paginatorNextButton" class="com.vaadin.ui.Button" scope="prototype">
		<property name="icon" value="images/table/go-next.png" />
	</bean>

	<bean id="paginatorPreviousButton" class="com.vaadin.ui.Button" scope="prototype">
		<property name="icon" value="images/table/go-previous.png" />
	</bean>

	<bean id="buttonPanel" class="com.vaadin.ui.HorizontalLayout"
		scope="prototype" />
		
	<bean id="typeTable" class="info.joseluismartin.vaadin.ui.table.PageableTable" scope="prototype">
		<property name="table" ref="typeConfigurableTable" />
		<property name="service" ref="typeService" />
		<property name="paginator" ref="paginator" />
		<property name="actions" ref="actionList" />
		<property name="entityClass" value="info.joseluismartin.gtc.model.CacheType" />
		<property name="formFieldFactory" ref="defaultFieldFactory" />
		<property name="editor" value="typeEditor" />
	</bean>
	
	<bean id="typeConfigurableTable" class="info.joseluismartin.vaadin.ui.table.ConfigurableTable" scope="prototype">
		<property name="selectable" value="true" />
		<property name="multiSelect" value="false" />
		<property name="columns">
			<list>
				<bean class="info.joseluismartin.vaadin.ui.table.Column"
				p:name="id" p:displayName="ID" p:width="50" />
				
				<bean class="info.joseluismartin.vaadin.ui.table.Column"
				p:name="name" p:displayName="Name" p:width="200" />
				
				<bean class="info.joseluismartin.vaadin.ui.table.Column"
				p:name="beanName" p:displayName="Bean" p:width="200" />
			</list>
		</property>
	</bean>

		
	<bean id="main" class="info.joseluismartin.vaadin.ui.ListPane" scope="prototype" >
		<property name="components">
			<list>
				<bean class="info.joseluismartin.vaadin.ui.VaadinComponentHolder" 
					p:icon="images/table/table.png" 
					p:name="Caches" 
					p:component-ref="pageableTable" />
					
				<bean class="info.joseluismartin.vaadin.ui.VaadinComponentHolder"
					p:icon="images/proxy.png"
					p:name="Proxy"
					p:component-ref="proxyEditor" />
					
				<bean class="info.joseluismartin.vaadin.ui.VaadinComponentHolder"
					p:icon="images/system.png"
					p:name="System"
					p:component-ref="configEditor" />
			
				<bean class="info.joseluismartin.vaadin.ui.VaadinComponentHolder"
					p:icon="images/types.png"
					p:name="Cache Types"
					p:component-ref="typeTable"/>
			
				<bean class="info.joseluismartin.vaadin.ui.VaadinComponentHolder"
					p:icon="images/map.png"
					p:name="Map Viewer"
					p:component-ref="mapControl"/>
			</list>
		</property>
	</bean>
	
	<bean id="mapControl" class="info.joseluismartin.gtc.admin.MapControl" />
	
	<!-- Property Editors -->
	<bean id="customEditorConfigurer"
		class="org.springframework.beans.factory.config.CustomEditorConfigurer">
		<property name="customEditors">
			<map>
				<entry key="com.vaadin.terminal.Resource">
					<bean class="info.joseluismartin.vaadin.beans.VaadinResourcePropertyEditor" />
				</entry>
			</map>
		</property>
	</bean>
	
	<!-- Message Source -->
	<bean id="messageSource"
		class="org.springframework.context.support.ResourceBundleMessageSource">
		<property name="basenames" value="i18n/jdal,i18n/tila" />
	</bean>
	
	<bean id="staticMessageSource" class="info.joseluismartin.beans.StaticMessageSource">
		<constructor-arg ref="messageSource" />
	</bean>
	
	<bean id="derbyShutdown" class="info.joseluismartin.gtc.EmbeddedDerbyShutdown">
		<property name="databaseUrl" value="${jdbc.url}" />
	</bean>
	

	<!-- Tx Advice -->
    <tx:advice id="txAdvice" transaction-manager="transactionManager">
    <!-- the transactional semantics... -->
    <tx:attributes>
      <!-- all methods starting with 'get' and 'load' are read-only -->
      <tx:method name="get*" read-only="true"/>
      <tx:method name="load*" read-only="true"/>
      <!-- other methods use the default transaction settings -->
      <tx:method name="*"/>
    </tx:attributes>
  </tx:advice>
	
   <aop:config>
    <!-- Make all methods on package service transactional  -->
     <aop:pointcut id="serviceOperation" 
     	expression="execution(* info.joseluismartin.service.PersistentService.*(..))"/>
     <aop:advisor advice-ref="txAdvice" pointcut-ref="serviceOperation"/>
  </aop:config>

</beans>

